<div class="palm-page-header multi-line">
	<div class="palm-page-header-wrapper">
		<div class="icon"></div>
		<div class="title">Show me!</div>
		<div class="subtitle">This is the "Show me!" client, you need to have it open to save your coordinates on the server.</div>
	</div>	
</div>

<div class="palm-group">
	<div class="palm-group-title">Latitude and longitude</div>
	<div class="palm-list">
		<div class="palm-row first">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div id="latitude"><span class="oblique">Waiting...</span></div>
					</div>
				</div>  
		</div>
		<div class="palm-row first">
			<div class="palm-row-wrapper last" x-mojo-focus-highlight="true">
					<div class="title">
						<div id="longitude"><span class="oblique">Waiting...</span></div>
					</div>
				</div>  
		</div>
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Your tracking web:</div>
	<div class="palm-list">
		<div class="palm-row single">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div id="url"><span class="oblique">Waiting...</span></div>
						<!--<div id="web" x-mojo-element="SmartTextField"></div>-->
					</div>
				</div>  
		</div>
	</div>
</div>

<div x-mojo-element="Button" id="maps"></div>